/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

/* Login Card */
.login-mobile-style {
  width: 30rem;
  border-radius: 12px;
  margin-right: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.mb-4 {
  margin-bottom: 0.5rem !important;
}

/* Form */
form {
  margin-top: 1rem;
}

form label {
  font-weight: 500;
  color: #333;
}

form input {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input:focus {
  border-color: #87a743;
  outline: none;
  box-shadow: 0 0 5px rgba(135, 167, 67, 0.5);
}

/* Button */
button {
  margin-top: 1rem;
  background-color: #87a743;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6c8b37;
}

/* Signup Link */
.signup-link {
  text-decoration: none;
  color: #87a743;
  font-weight: 600;
  transition: color 0.3s;
}

.signup-link:hover {
  color: #6c8b37;
}

/* Media Query */
@media screen and (max-width: 600px) {
  .login-mobile-style {
    width: 80%;
    margin-right: 40px;
    border-radius: 7px;
  }
}

.login-message {
  font-size: 25px;
  margin-left: 4rem;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .login-message {
    font-size: 18px;
    margin-left: 2rem;
    margin-top: 10px;
  }
}
