* {
  margin: 0;
  border: 0;
}
.mb-4 {
  margin-bottom: 0.5rem !important;
}

.mobile-style {
  width: 35rem;
  border-radius: 12px;
  margin-right: 100px;
}

@media screen and (max-width: 600px) {
  .mobile-style {
    width: 40%;
    margin-right: 40px;
    border-radius: 7px;
  }
}
